@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
}

html{
    overflow-x: hidden;
    animation-name: delay-str-1;
    animation-duration: 23s;
    animation-delay: 0s;  
    overflow-y: scroll;  
}

.wraper{
    display: flex;
    min-height: 100%;
    flex-direction: column;
    margin: 0px auto;
}


.str-1{
    margin: 0;
    background-color: #121212;
}


.header-block{
    padding: 43px 4.375%;
}



.nametag-block{
    position: absolute;
    height: 90px;
    left: -400px;
    font-family: 'Montserrat', sans-serif;    font-style: normal;
    animation-name: nametag-appearance;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-delay: 0s;
    animation-fill-mode: forwards;
}
#nametag-logo, #nametag-logo-2{
    font-weight: 700;
    font-size: 48px;
    line-height: 59px;
}

#nametag-logo{
    color: #FFFFFF;
}
#nametag-logo-2{
    margin: 0px 10px;
    color: #8487FF;
}
#nametag-slogan{
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;

    color: #FFFFFF;
}

.animation-block{
    position: absolute;
    width: 981px;
    height: 680px;
    top: 104px;
    left: 29%;
}

#triangle-1{
    position: absolute;
    right: 11%;
    opacity: 0;
    transform: rotate(-62.26deg);
    animation-name: tr-1-start, tr-1-end;
    animation-duration: 1.5s, 1s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-delay: 4s, 5.5s;
    animation-fill-mode: forwards;
}

#triangle-2{
    position: absolute;
    top: 120px;
    left: 41.47%;
    opacity: 0;
    transform: rotate(-62.26deg);
    animation-name: tr-2-start, tr-2-end;
    animation-duration: 1.5s, 1s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-delay: 4s, 5.5s;
    animation-fill-mode: forwards;
}

#triangle-3{
    position: absolute;
    top: 452px;
    right: -0;
    opacity: 0;
    transform: rotate(-41.18deg);
    animation-name: tr-3-start, tr-3-end;
    animation-duration: 1.5s, 1s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-delay: 4s, 5.5s;
    animation-fill-mode: forwards;
}


#triangle-4{
    position: absolute;
    top: 530px;
    opacity: 0;
    transform: rotate(51.11deg);
    animation-name: tr-4-start, tr-4-end;
    animation-duration: 1.5s, 1s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-delay: 4s, 5.5s;
    animation-fill-mode: forwards;
}

.name-logo{
    width: 750px;
    padding: 168px 0px 166px 24.48%;
    opacity: 0;
    font-family: 'Montserrat', sans-serif;    font-style: normal;
    animation-name: logo-opacity;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-delay: 1.5s;
    animation-fill-mode: forwards;
}

#logo-text-1{
    font-weight: 800;
    font-size: 110px;
    line-height: 134px;
    color: #8487FF;
}
#logo-text-2{
    font-weight: 800;
    font-size: 110px;
    line-height: 134px;
    color: #FFFFFF;
}
#logo-text-3{
    font-weight: 800;
    font-size: 110px;
    line-height: 134px;
    color: #FFFFFF;
}

#linear-logo{
    position: absolute;
    margin: -90px 265px;
    width: 344px;
    height: 3px;
    background: #FFFFFF;
}

#logo-slogan{
    position: absolute;
    margin: 54px 45px;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    text-transform: uppercase;
}

.footer-block-osn{
    position: relative;
    padding: 0px 0px 64px 87px;
    opacity: 0;
    font-style: normal;
    font-family: 'Montserrat', sans-serif;    animation-name: block-osn-appearance;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-delay: 3s;
    animation-fill-mode: forwards;

}

#fot-lg-1, #fot-lg-2, #fot-lg-3{
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
}

#fot-lg-1{

    color: #8487FF;
}
#fot-lg-2, #fot-lg-3{
    color: #FFFFFF;
}

#portfolio-but{
    position: absolute;
    right: 84px;

    font-weight: 700;
    font-size: 24px;
    line-height: 29px;

    color: #FFFFFF;
    text-transform: uppercase;
}

#portfolio-but:hover{
    transition: 0.3s linear;
    color: #8487FF;
    cursor: pointer;
}

.nametag-block:hover{
    cursor: pointer;
}




/*STR - 2*/

.str-2{
    position: relative;
    display: flex;
    height: 970px;
    flex-direction: row;
    background: #121212;

}


#linear-1{
    position: absolute;
    opacity: 0;
    margin: 0 19.69%;
    width: 3px;
    height: 954px;
    background: #404040;
    z-index: 1;
    animation-name: line-1-appearance;
    animation-duration: 1.5s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-delay: 9s;
    animation-fill-mode: forwards;
}

#linear-2{
    position: absolute;
    opacity: 0;
    margin: 0px 78.2%;
    width: 3px;
    height: 954px;
    background: #404040;
    z-index: 1;
    animation-name: line-1-appearance;
    animation-duration: 1.5s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-delay: 9s;
    animation-fill-mode: forwards;
}

.content-tx{
    position: relative;
    width: 954px;
    height: 964px;
    margin: 0 25%;
}

.block-anim{
    position: relative;
    z-index: 2;
    opacity: 0;
    width: 330px;
    height: 100%;
    margin: 0px 35%; 
    border-width: 0px 3px;
    border-style: solid;
    border-color: #404040;
    background: #121212;
    box-shadow: 0px 0px 33px 15px #000000;
    animation-name: line-1-appearance;
    animation-duration: 1.5s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-delay: 9s;
    animation-fill-mode: forwards;
}

.fut-tx-block{
    position: absolute;
    width: 984px;
    height: 165px;
    z-index: 1;
    opacity: 0;
    top: 372px;
    margin-left: 10px;
    font-style: normal;
    font-weight: 900;
    font-size: 230px;
    line-height: 239px;
    text-transform: uppercase;
    
    font-family: 'Montserrat', sans-serif;    color: #FFFFFF;
    animation-name: fut-text;
    animation-duration: 2.5s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-delay: 11s;
    animation-fill-mode: forwards;
}



#fut-tx-2{
    opacity: 0;
    position: absolute;
    font-style: normal;
    margin: 372px 0px;
    font-weight: 900;
    font-size: 230px;
    line-height: 239px;
    text-transform: uppercase;
    
    font-family: 'Montserrat', sans-serif;    color: #FFFFFF;
    animation-name: fut-text;
    animation-duration: 2.5s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-delay: 11s;
    animation-fill-mode: forwards;
    z-index: 3;
}

#fut-tx-3{
    position: absolute;
    right: 0;
}


#slog-fut{
    position: absolute;
    width: 218px;
    opacity: 0;
    margin: 718px 60px;
    font-family: 'Montserrat', sans-serif;    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    animation-name: slog-fut-text;
    animation-duration: 1.5s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-delay: 14s;
    animation-fill-mode: forwards;
}

.triangle-purp{
    position: absolute;
    width: 1402px;
    height: 100%;
    left: -22%;
    top: 0;
}

#triangle-wh-1{
    position: absolute;
    right: 0;
    z-index: 3;
    opacity: 0;
    transform: rotate(0deg);
    animation-name: tr-wh-1;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-delay: 15s;
    animation-fill-mode: forwards;
}

#triangle-wh-2{
    position: absolute;
    top: 813px; 
    left: 0;
    opacity: 0;
    z-index: 2;
    transform: rotate(0.26deg);
    animation-name: tr-wh-2;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-delay: 15s;
    animation-fill-mode: forwards;
}

#triangle-purp-1{
    position: absolute;
    top: 0px;
    left: -300%;
    z-index: 1;
    animation-name: tr-pr-1;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-delay: 15s;
    animation-fill-mode: forwards;
    transform: rotate(-62.26deg);
}
#triangle-purp-2{
    position: absolute;
    top: 43px;
    left: -300%;
    z-index: 1;
    animation-name: tr-pr-2;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-delay: 15s;
    animation-fill-mode: forwards;
    transform: rotate(-62.26deg);
}
#triangle-purp-3{
    position: absolute;
    z-index: 1;
    left: -300%;
    top: 149px;
    animation-name: tr-pr-3;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-delay: 15s;
    animation-fill-mode: forwards;
    transform: rotate(-62.26deg);
}
#triangle-purp-4{
    position: absolute;
    z-index: 1;
    left: -300%;
    top: 380px;
    animation-name: tr-pr-4;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-delay: 15s;
    animation-fill-mode: forwards;
    transform: rotate(-62.26deg);
}
#triangle-purp-5{
    position: absolute;
    left: -300%;
    top: 478px;
    z-index: 1;
    animation-name: tr-pr-5;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-delay: 15s;
    animation-fill-mode: forwards;
    transform: rotate(-41.18deg);
}
#triangle-purp-6{
    position: absolute;
    z-index: 1;
    left: -300%;
    top: 712px;
    animation-name: tr-pr-6;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-delay: 15s;
    animation-fill-mode: forwards;
    transform: rotate(51.11deg);
}
#triangle-purp-7{
    position: absolute;
    z-index: 1;
    top: 730px;
    left: -300%;
    animation-name: tr-pr-7;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-delay: 15s;
    animation-fill-mode: forwards;
    transform: rotate(-62.26deg);
}
#triangle-purp-8{
    position: absolute;
    z-index: 1;
    top: 856px;
    left: -300%;
    animation-name: tr-pr-8;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-delay: 15s;
    animation-fill-mode: forwards;
    transform: rotate(-62.26deg);
}



/*О компании*/


#about_company{
    position: relative;
    top: 27px;
}

#aboutus_big_font {
    position: absolute;
    font-family: 'Montserrat', sans-serif;    font-weight: 800;
    font-size: 96px;
    top: 49px;
    opacity: 0;
    right: -300px;
    animation-name: about-departure;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-delay: 18s;
    animation-fill-mode: forwards;


    color: rgba(0, 0, 0, 0.09);
}

#aboutus_firstlogo {
    position: absolute;
    width: 619px;
    height: 90px;

    left: 200px;
    top: 66px;

    font-family: 'Montserrat', sans-serif;    font-style: normal;
    font-weight: 700;
    font-size: 40px;
}

#aboutus_firstlogo_text {
    position: absolute;
    top: 0px;
    right: 0;

    opacity: 0;
    animation-name: text-departure;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-delay: 18.5s;
    animation-fill-mode: forwards;
}

#aboutus_firstlogo_line{
    position: absolute;
    width: 155px;
    height: 4px;
    left: 0;
    top: 50%;
    opacity: 0;

    animation-name: line-departure;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-delay: 17.5s;
    animation-fill-mode: forwards;

    background-color: black;
}

#aboutus_text_1 {
    position: absolute;
    top: 217px;
    left: -700px;
    margin-right: -50%;
    transform: translateX(-50%);

    width: 1287px;

    font-family: 'Montserrat', sans-serif;    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
    text-align: justify;

    opacity: 0;
    animation-name: text-desc-departure;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-delay: 19s;
    animation-fill-mode: forwards;
}

#aboutus_secondlogo {
    position: absolute;
    width: 418px;
    height: 25px;

    top: 381px;
    left: 200px;
}

#aboutus_secondlogo_line {
    position: absolute;
    width: 90px;
    height: 3px;

    left: 0;
    top: 50%;
    opacity: 0;
    animation-name: line-departure-2;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-delay: 17.5s;
    animation-fill-mode: forwards;

    background-color: black;
}

#aboutus_secondlogo_text {
    position: absolute;
    
    right: 0;

    color: black;

    font-family: 'Montserrat', sans-serif;    font-style: normal;
    font-weight: 600;
    font-size: 20px;

    opacity: 0;
    animation-name: text-departure;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-delay: 20s;
    animation-fill-mode: forwards;
}

#aboutus_text_2 {
    position: absolute;
    top: 415px;
    left: -830px;

    font-family: 'Montserrat', sans-serif;    font-style: normal;
    font-weight: 700;
    font-size: 45px;

    width: 651px; 


    opacity: 0;
    animation-name: text-departure-2;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-delay: 20s;
    animation-fill-mode: forwards;
}

#aboutus_big_font_2 {
    position: absolute;
    font-family: 'Montserrat', sans-serif;    font-weight: 900;
    font-size: 160px;
    top: 420px;
    left: -850px;

    animation-name: business-departure;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-delay: 18s;
    animation-fill-mode: forwards;

    color: rgba(0, 0, 0, 0.09);
}

#aboutus_bisnesstasks {
    position: absolute;
    width: 1054px;

    top: -500px;

    display: flex;
    flex-direction: row;

    left: 50%;
    margin-right: -50%;
    transform: translateX(-50%);

    opacity: 0;
    animation-name: bisnesstasks-departure;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-delay: 20.5s;
    animation-fill-mode: forwards;
}

.bisnesstask {
    width: 242px;
    height: 200px;

    margin-right: 10px;
    padding-left: 8px;
    border-left: solid #D9D9D9 1px;
}

.bisnesstask_line {
    position: relative;
    width: 49px;
    height: 2px;

    margin-top: 28px;

    background-color: black;
}

.bisnesstask_number {
    position: relative;
    font-family: 'Montserrat', sans-serif;    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    margin-left: -10px;
    width: 40px;
    height: 25px;
    color: #000000;

    transform: rotate(-90deg)
}

.bisnesstask_text{
    position: relative;

    font-family: 'Montserrat', sans-serif;    font-style: normal;
    font-weight: 600;
    font-size: 15px;

    margin-top: 50px;
    line-height: 143.9%;
}

#aboutus_thirdlogo {
    position: absolute;
    width: 340px;
    height: 25px;

    top: 960px;
    left: 200px;
}

#aboutus_thirdlogo_line {
    position: absolute;
    width: 90px;
    height: 3px;
    opacity: 0;
    left: 0;
    top: 50%;

    background-color: black;

    animation-name: line-departure-3;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-delay: 34.5s;
    animation-fill-mode: forwards;
}

#aboutus_thirdlogo_text {
    position: absolute;
    
    right: 0;
    opacity: 0;
    color: black;

    font-family: 'Montserrat', sans-serif;    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    animation-name: logo-third-departure;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-delay: 35s;
    animation-fill-mode: forwards;
}

#aboutus_text_3 {
    position: absolute;
    top: 1025px;
    left: -150%;
    margin-right: -50%;
    transform: translateX(-50%);

    width: 1287px;

    font-family: 'Montserrat', sans-serif;    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
    text-align: justify;

    animation-name: text-3-departure;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-delay: 35.5s;
    animation-fill-mode: forwards;
}

#aboutus_fourthlogo {
    position: absolute;
    width: 440px;
    height: 25px;
    top: 1202px;
    left: 200px;
}

#aboutus_fourthlogo_line {
    position: absolute;
    width: 90px;
    height: 3px;

    left: 0;
    top: 50%;

    opacity: 0;

    background-color: black;
    animation-name: line-departure-4;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-delay: 36s;
    animation-fill-mode: forwards;
}

#aboutus_fourthlogo_text {
    position: absolute;
    
    right: 0;

    color: black;

    font-family: 'Montserrat', sans-serif;    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    opacity: 0;
    animation-name: logo-fourth-departure;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-delay: 36.5s;
    animation-fill-mode: forwards;

}

#aboutus_text_4 {
    position: absolute;
    top: 1267px;
    left: -150%;
    margin-right: -50%;
    transform: translateX(-50%);

    width: 1287px;

    font-family: 'Montserrat', sans-serif;    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
    text-align: justify;

    animation-name: text-4-departure;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-delay: 36.5s;
    animation-fill-mode: forwards;
}

#aboutus_fifthlogo {
    position: absolute;
    width: 440px;
    height: 25px;

    top: 1406px;
    left: 200px;

}

#aboutus_fifthlogo_line {
    position: absolute;
    width: 90px;
    height: 3px;

    left: 0;
    top: 50%;

    opacity: 0;

    background-color: black;

    animation-name: line-departure-5;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-delay: 37s;
    animation-fill-mode: forwards;
}

#aboutus_fifthlogo_text {
    position: absolute;
    
    right: 0;

    color: black;

    font-family: 'Montserrat', sans-serif;    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    opacity: 0;
    animation-name: logo-fifth-departure;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-delay: 37.5s;
    animation-fill-mode: forwards;
}

#aboutus_text_5 {
    position: absolute;
    top: 1457px;
    left: -100%;

    font-family: 'Montserrat', sans-serif;    font-style: normal;
    font-weight: 700;
    font-size: 64px;

    width: 934px;

    animation-name: text-5-departure;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-delay: 38s;
    animation-fill-mode: forwards;
}

#aboutus_big_font_3 {
    position: absolute;
    font-family: 'Montserrat', sans-serif;    font-weight: 900;
    font-size: 160px;
    top: 1490px;
    left: -1450px;

    color: rgba(0, 0, 0, 0.09);

    animation-name: maniacs-departure;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-delay: 38.5s;
    animation-fill-mode: forwards;
}

#aboutus_text_6 {
    position: absolute;
    top: 1671px;
    left: -150%;
    margin-right: -50%;
    transform: translateX(-50%);

    width: 1287px;

    padding: 0 0 100px 0;

    font-family: 'Montserrat', sans-serif;    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
    text-align: justify;

    animation-name: text-6-departure;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-delay: 39.5s;
    animation-fill-mode: forwards;
}




/*Страничка с женщиной*/



.womenblock{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 1080px;
    opacity: 0;
    left: 0;
    top: 1920px;

    background-color: #121212;
    animation-name: women-block-appereance;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-delay: 51.5s;
    animation-fill-mode: forwards;
}
.women{
    position: relative;
    width: 730px;
    height: 1080px;
    z-index: 3;
}

.wn-bl{
    position: absolute;
    width: 1124px;
    height: 100%;
    right: 0;
    display: flex;
    flex-direction: row;
    z-index: 2;
    opacity: 0;

    animation-name: wn-block-appereance;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-delay: 52s;
    animation-fill-mode: forwards;
}

.block-anim-wn{
    position: relative;
    width: 394px;
    height: 100%;
    border-width: 0px 3px;
    border-style: solid;
    border-color: #404040;
    box-shadow: 0px 27px 15px 0px #000000;
    z-index: 4;
    background-image: url(../img/women-2.png);
}

#effective-anim{
position: relative;
top:370px;
left: 5px;
font-family: 'Montserrat', sans-serif;font-style: normal;
font-weight: 700;
font-size: 140px;
line-height: 171px;

color: #FFFFFF;
}

#portfolio-anim{
position: relative;
top:370px;
left: 5px;
font-family: 'Montserrat', sans-serif;font-style: normal;
font-weight: 700;
font-size: 140px;
line-height: 171px;

color: #FFFFFF;
}


.maintext{
position: absolute;
width: 907px;
height: 326px;
top: 0;
z-index: 1;
left: 0;
margin: 369px 4.53%;

animation-name: main-text-block-appereance;
animation-duration: 1s;
animation-timing-function: linear;
animation-iteration-count: 1;
animation-delay: 52s;
animation-fill-mode: forwards;
}

#effective{
position: relative;

font-family: 'Montserrat', sans-serif;font-style: normal;
font-weight: 700;
font-size: 140px;
line-height: 171px;
z-index: 1;
color: #FFFFFF;
}

#portfolio{
position: relative;

font-family: 'Montserrat', sans-serif;font-style: normal;
font-weight: 700;
font-size: 140px;
line-height: 171px;
z-index: 1;
color: #FFFFFF;
}

#look{

font-family: 'Montserrat', sans-serif;font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 24px;
color: #FFFFFF;
}


.triangle{
position: absolute;
width: 150px;
height: 370px;
transform: rotate(-6deg);
top: 641px;
left: 367px;
z-index: 3;

}
#trg-wn{
    position: relative;
    top: 347px;
    left: 150px;
}

@media screen and (min-width: 1921px) {
    .content-tx{
        margin: 0 40%;
    }
    .block-anim{
        margin: 0 70%;
    }
}




@media screen and (min-width: 2688px) {
    .fut-tx-block{
        margin-left: 30%;
    }
    .block-anim{
        margin: 0 100%;
    }
    .triangle-purp{
        left: 5%;
    }
}

@media screen and (min-width: 3000px) {
    .block-anim{
        margin: 0 65%;
    }
}
 

@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

.questions{
    position: relative;
    top: 1920px;
    height: 1020px;
    z-index: 5;
    opacity: 0;
    animation-name: questions-block;
    animation-duration: 1s;
    animation-timing-function: linear;
    background-color: #FFFFFF;
    animation-iteration-count: 1;
    animation-delay: 55s;
    animation-fill-mode: forwards;
}

.name1{
position: absolute;
width: 805px;
height: 147px;
left: 89px;
top: 100px;

font-family: 'Montserrat', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 62px;

color: #000000;
}
.count{
position: absolute;
width: 86px;
height: 34px;
left: 89px;
top: 250px;

font-family: 'Montserrat', sans-serif;
font-style: normal;
font-weight: 600;
font-size: 30px;
line-height: 37px;

color: rgba(0, 0, 0, 0.68);
}
.line{
position: absolute;
width: 1283px;
height: 4px;
left: 89px;
top: 300px;

background: #8487FF;
}
.question1{
position: absolute;
width: 833px;
height: 42px;
left: 90px;
top: 370px;

font-family: 'Montserrat', sans-serif;
font-style: normal;
font-weight: 600;
font-size: 40px;
line-height: 49px;

color: #000000;
}
.textbtn1{
color: black;
font-size: 21px;
}




#btn1, #btn1-1{
position: absolute;
width: 481px;
height: 75px;
left: 79px;
top: 490px;
font-family: 'Montserrat', sans-serif;
}
#btn2, #btn2-1{
position: absolute;
width: 680px;
height: 75px;
left: 610px;
top: 490px;
font-family: 'Montserrat', sans-serif;
}
#btn3{
position: absolute;
width: 450px;
height: 75px;
left: 79px;
top: 600px;
font-family: 'Montserrat', sans-serif;
}

#btn3-1{
    position: absolute;
    width: 750px;
    height: 75px;
    left: 79px;
    top: 600px;
    font-family: 'Montserrat', sans-serif;  
}

#btn4-1{
  position: absolute;
width: 450px;
height: 75px;
left: 880px;
top: 600px;
font-family: 'Montserrat', sans-serif;  
}

#btn4{
position: absolute;
width: 450px;
height: 75px;
left: 580px;
top: 600px;
font-family: 'Montserrat', sans-serif;
}
#btn5, #btn5-1{
position: absolute;
width: 600px;
height: 75px;
left: 79px;
top: 710px;
font-family: 'Montserrat', sans-serif;
}
#btn6, #btn6-1{
position: absolute;
width: 450px;
height: 72px;
left: 730px;
top: 710px;
font-family: 'Montserrat', sans-serif;
}
#btn7{
position: absolute;
width: 500px;
height: 72px;
left: 79px;
top: 820px;
font-family: 'Montserrat', sans-serif;
}

#btn7-1{
    position: absolute;
width: 600px;
height: 72px;
left: 79px;
top: 820px;
font-family: 'Montserrat', sans-serif;
}

#btn8{
position: absolute;
width: 160px;
height: 70px;
left: 79px;
top: 920px;
border-radius: 10px;
font-family: 'Montserrat', sans-serif;
font-style: normal;
font-weight: 500;
background-color: #8487FF;
font-size: 25px;
line-height: 30px;
display: none;
border-color: #8487FF;

}


button:active{
background-color: #8487FF;
}


::placeholder{
font-family: 'Montserrat', sans-serif;
font-weight: 500;
font-size: 25px;
line-height: 30px;
text-align: center;
color: rgba(0, 0, 0, 0.56);
}
input{
box-sizing: border-box;
position: absolute;
width: 655px;
height: 92px;
left: 85px;
top: 550px;
border: 1px solid #000000;
text-align: center;
}
.input1, .input1_2{
font-size: 25px;
font-family: 'Montserrat', sans-serif;

}


.btn-form-2{
position: absolute;
width: 160px;
height: 70px;
left: 270px;
top: 680px;
font-family: 'Montserrat', sans-serif;
font-style: normal;
font-weight: 500;
background-color: #8487FF;
border-color: #8487FF;
border-radius: 10px;
font-family: 'Montserrat', sans-serif;
font-size: 21px;
line-height: 30px;
}

.btn-form-2-1{
position: absolute;
width: 160px;
height: 70px;
left: 79px;
top: 680px;
font-family: 'Montserrat', sans-serif;
font-style: normal;
border-radius: 10px;
font-weight: 500;
border-color: #eaeaee;
font-size: 21px;
line-height: 30px;
}

#btn8-1{
position: absolute;
width: 160px;
height: 80px;
left: 281px;
top: 920px;
font-family: 'Montserrat', sans-serif;
font-style: normal;
font-weight: 500;
background-color: #8487FF;
font-family: 'Montserrat', sans-serif;
font-size: 25px;
line-height: 30px;
display: none;

}
#btn9{
position: absolute;
width: 160px;
height: 80px;
left: 90px;
top: 920px;
border-radius: 10px;
font-family: 'Montserrat', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 25px;
line-height: 30px;
}



#question-1{
    display: block;
}

#question-2, #question-3, #question-4, #question-5, #question-6, #question-7{
    display: none;
}

#btn5_1{
position: absolute;
width: 340px;
height: 160px;
left: 281px;
top: 680px;
font-family: 'Montserrat', sans-serif;
font-style: normal;
font-weight: 500;
background-color: #8487FF;
font-family: 'Montserrat', sans-serif;
font-size: 25px;
line-height: 30px;
}


.btn:hover{
    background-color: #8487FF !important;
    opacity: .8;
}



#btn1, #btn2, #btn3, #btn4, #btn5, #btn6,#btn7, #btn1-1:hover, #btn2-1, #btn3-1, #btn4-1, #btn5-1, #btn6-1, #btn7-1{
border: 1px solid #8487FF;
display: block;
}

.menu__btn {
    display: flex; /* используем flex для центрирования содержимого */
    align-items: center;  /* центрируем содержимое кнопки */
    position: absolute;
    top: 20px;
    left: 1720px;
    width: 50px;
    height: 47px;
    cursor: pointer;
    z-index: 1;
  }

  .hamburger-menu{
    position: absolute;
    width: 100px;
    left: 10px;
    opacity: 0;
    animation-name: burg-op;
    animation-duration: 1s;
    animation-delay: 20s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
  }
  /* добавляем "гамбургер" */
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: white;
  }
  .menu__btn > span::before {
    content: '';
    top: -8px;
  }
  .menu__btn > span::after {
    content: '';
    top: 8px;
  }
  
  /* контейнер меню */
  .menu__box {
    display: block;
    position: absolute;
    visibility: hidden;
    top: 0;
    left: 1400px;
    width: 400px;
    height: 100%;
    margin: 0;
    padding: 160px 0;
    list-style: none;
    text-align: right;
  }
  

  /* элементы меню */
  .menu__item {
    display: block;
    padding: 12px 24px;
    color: rgba(255, 255, 255, 0.38);
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 30px;
    line-height: 37px;
  }

  #menu-tx-2:hover, #menu-tx-3:hover, #menu-tx-4:hover, #menu-tx-5:hover, #menu-tx-6:hover{
    color: white;
    text-decoration: none;
  }

  #menu-tx-1{
    color: white;
    text-decoration: none;
  }

  #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
  }
  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
    visibility: visible;
  }

  

  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    transition-duration: .25s;
  }


    #menu__toggle{
    display: none;
    }
    .btn1{
    position: absolute;
    width: 481px;
    height: 75px;
    left: 79px;
    top: 490px;
    font-family: 'Montserrat';
    }


    #qu-tx-1{
        position: absolute;
        font-size: 48px;
        left: 30%;
        top: 30%;
    }